* {
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20px;
    padding: 30px 50px;
    margin-bottom: 20px;
}

.logo_header {
    width: auto;
    height: 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-list {
    display: flex;
    list-style: none;
    padding: 0;
}

.nav-list li a {
    padding: 15px 20px;
    text-decoration: none;
    font-weight: 600;
    color: #0A2233;
    z-index: 1;
}

.principal_butt {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    height: 50px;
    padding: 30px 0 30px 0;
    width: 120px;
    border: 0;
    background: linear-gradient(to right,#ffbd84 0,#ff1f8e 100%);
    border-radius: 30px;
    color: #FFFFFFFF;
    font-size: 1.1em;
    z-index: 1;
}
/* ------------------------------------------MAIN------------------------------------------------ */
main {
    display: flex;
    flex-direction: column;
}
/* --------------------S1-------------------- */

.bg_header_S1 {
    background-color: #FFD6D6;
}

.S1_img_bg {
    position: absolute;
}

.S1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: sans-serif;
}

.S1_contente {
    display: flex;
    flex-direction: column;
    line-height: 50px;
    width: 40%;
    z-index: 1;
}

.Starter_text {
    font-size: 1.1em;
    color: #E60072;
    font-family: sans-serif;
}

h1 {
    font-size: 3.5em;
    margin-bottom: 50px;
    color: #050748;
}

h1 span {
    color: #E60072;
}

.description {
    line-height: 30px;
    color: #716F91;
    font-size: 1.2em;
    margin-bottom: 40px;
}

.S1_img {
    width: 40%;
    z-index: 1;
}
/* --------------------S2-------------------- */

.S2 {
    padding: 80px 55px;
    display: flex;
    justify-content: space-between;
    z-index: 1;
}

.S2_part1 {
    width: 50%;
}

.ST2 {
    margin-bottom: 20px;
}

h2 {
    color: #050748;
    font-size: 2.5em;
    font-family: sans-serif;
}

.S2H2 {
    margin-bottom: 20px;
}

.S2_link_social_media {
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.S2_link_social_text {
    color: #050748;
    font-weight: 600;
    font-size: 1.1em;
    font-family: sans-serif;
}

.hr1 {
    color: #050748;
    font-weight: 600;
    width: 40px;
    height: 0;
}

.S2_link_icon {
    color: #6A6A8E;
}

.S2_cards_container {
    display: grid;
    gap: 40px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr ;
}

.S2_card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 3px solid;
    border-radius: 0 50px 0 50px;
    width: 250px;
    height: 130px;
    align-items: center;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

.S2_text_card {
    color: #050748;
    font-size: 4em;
    font-family: sans-serif;
}

.S2_description_card {
    color: #716F91;
    font-size: 1.1em;
    font-family: sans-serif;
}

.S2_card1 {
    border-color: #FFC3FE;
}

.S2_card2 {
    border-color: #FFE6BA;
}

.S2_card3 {
    border-color: #ADDAFF;
}

.S2_card4 {
    border-color: #FFBABA;
}

/* --------------------S3-------------------- */

.S3 {
    background: linear-gradient(rgba(226,243,254,1) 0%, rgba(254,250,239,1) 68%);
}

.S3_part1 {
    padding: 70px 0 30px 0;
    text-align: center;
}

.S3_cards_container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.S3_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #FFFFFF;
    padding: 0 30px;
    width: 200px;
    height: 400px;
    border: 1px solid #D4F0FF;
    border-radius: 10px;
}

.S3_img {
    width: 80px;
    margin-bottom: 30px;
}

.S3_card_title {
    font-size: 1.4em;
    font-family: sans-serif;
    margin-bottom: 30px;
}

.S3_card_description {
    color: #6A6A8E;
    font-size: 1.2em;
    margin-bottom: 30px;
}

.S3_card_link {
    color: #6A6A8E;
    font-size: 1.2em;
    text-decoration: none;
}

.S3_part3 {
    padding: 50px 0 80px 0;
    display: flex;
    justify-content: center;
}

.S3_lastText {
    font-weight: 200;
}

.S3_butt {
    margin-left: 20px;
    width: 200px;
}

/* --------------------S4-------------------- */

.S5 {
    background-color: #FAF0FB;
}

.S4_part1 {
    padding: 70px 0 60px 0;
    text-align: center;
}

.S4ST {
    margin-bottom: 20px;
}

.S4_row {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding-bottom: 40px;
}

.S4_img {
    border-radius: 10px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
}

.S4_content {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding-bottom: 90px;
}

.S4_img_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 150px;
    border: 1px solid #D4F0FF;
    border-radius: 10px;
    background-color: #FFFFFF;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

/* --------------------S6-------------------- */


.S6 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 400px;
}

.bg-S6 {
    width: 400px;
    position: absolute;
    left: 0;
    z-index: -1;
}

.S6_part1 {
    width: 40ù;
}

.S6_part2 {
    width: 40%;
}

.S6_review {
    color: #6A6A8E;
    font-size: 1.1em;
    font-family: sans-serif;
    margin-bottom: 30px;
}

.S6_profil {
    display: flex;
    align-items: center;
}

.PP_girl {
    width: 100px;
    border-radius: 50%;
    margin-right: 20px;
}

.S6_Presentation {
        font-family: sans-serif;
}

.S6_description_profil {
    color: #6A6A8E;
}